<div class="activity">
  <label class="sr-only" for="inlineFormInputGroup">Username</label>
  <div class="input-group mb-2 mr-sm-2 mb-sm-0 search">
    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Ara">
    <i class="input-group-addon fa fa-search"></i>
  </div>
  <button class="btn btn-success add" (click)= "addActivity()"> Ekle </button>
  <div class="list">
    <ul class="list-group" *ngFor= "let a of act">
     <li class ="list-group-item">
      <i class="tarih-item">23 Şub</i> {{a.name}}
      <i class="fa fa-pencil act-icon" (click)="navActDetail()"></i></li>
     <li class ="list-group-item"> {{a.abbrv}} </li>
     <li class ="list-group-item"> {{a.p_mail}} </li>
     <li class ="list-group-item"> {{a.addres}} </li>
     <li class ="list-group-item"> {{a.createdAt}} </li>
    </ul>
  </div>
</div>