<div *ngIf="pathInfo.p_list" class="insider">
  <div class="input-group mb-2 mr-sm-2 mb-sm-0 search">
    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Ara">
    <i class="input-group-addon fa fa-search"></i>
  </div>
  <button class="btn btn-success add" (click)="navigateDetail('add')"> Ekle </button>
  <div class="list">
    <div class="list-group">
        <ul class="list-group">
            <li class="list-group-item" *ngFor = "let f of recordList$ | async"
                (click) = "navigateDetail('edit')">
                {{ f.name }}
            </li>
        </ul>
    </div>
  </div>
</div>