.input-group-addon {
  background-color: inherit;
}

.search {
  width: 70%;
  float: left;
}

button.add {
  line-height: 1.5;
  float: right;
}

div.list {
  width: 100%;
  float: left;
}

.swipeout-actions-right i {
  background: inherit;
  color: white;
  font-size: 1.5em;
}

.list-block ul {
  /* saçma */
  height: 439px;
  overflow: scroll;
}

.item-content {
  padding-left: 0px;
}

.list-group-item {
  padding: .75rem;
}
