<div class="form-signin">
  <img class="logo" src="./../../assets/images/logo.png" />
  <form #form="ngForm" class="" (ngSubmit)="submitForm(form.value)">
    <input type="username" id="inputUsername" class="form-control" placeholder="&#61447;     Mail" name="email" ngModel required
      autofocus [ngClass]="{'form-error': error, 'form-normal' : !error, 'form-okey': error == null }">
    <input type="password" id="inputPassword" class="form-control" placeholder="&#xf023;     Şifre" name="password" ngModel [ngClass]="{'form-error': error, 'form-normal' : !error, 'form-okey': error == null }"
      autofocus>
    <button class="btn btn-primary form-control" type="submit">Giriş</button>
  </form>
  <button class="btn btn-info form-control" (click)="redirectSignIn()">Kayıt Ol </button>
  <span (click)="redirectReset()" style="display: inherit; text-align: center;"> Şifreni mi unuttun?
</span>
</div>