@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.btn {
  width: 100%;
  background: #2980b9;
  background-image: -webkit-linear-gradient(top, #2980b9, #2d78a6);
  background-image: -moz-linear-gradient(top, #2980b9, #2d78a6);
  background-image: -ms-linear-gradient(top, #2980b9, #2d78a6);
  background-image: -o-linear-gradient(top, #2980b9, #2d78a6);
  background-image: linear-gradient(to bottom, #2980b9, #2d78a6);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  letter-spacing: 1px;
}

.logo-class {
  padding: 20% 20px;
  margin: 40px auto;
  display: block;
  width: 100%;
}

.panel {
  padding: 0px 6%;
  /*border-color: #f39c12;*/
}

.form-signin #inputPassword {
  /*font-family: 'Open Sans', sans-serif;*/
  background-image: url('./../../assets/icons/password.svg');
}

.form-control {
  height: 44px;
  margin: 6% 0%;
  padding: 0px 10px 0px 36px;
  background-size: 16px;
  background-position: 10px;
  background-repeat: no-repeat;
}

.form-signin #inputUsername {
  background-image: url('./../../assets/icons/user.svg');
}

.form-signin .form-control:focus {
  border-color: rgb(104, 145, 162);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
}

.form-signin {
  margin: 30% 0%;
}
