
.btn {
  background: #2980b9;
  background-image: -webkit-linear-gradient(top, #2980b9, #2d78a6);
  background-image: linear-gradient(to bottom, #2980b9, #2d78a6);
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1;
}

.btn:focus{
  background: #16a085;
  transition: background-image .6s;
}

#logo {
  padding: 20% 20px;
  margin: 40px auto;
  display: block;
  width: 100%;
}

.panel {
  padding: 0px 6%;  
}

.footer{
  font-size:10px;
  text-align:center;
}

.form-control {
  height: 44px;
  -webkit-border-radius: 4;
  border-radius: 4px;
}

input[id^='input']{
  background-size: 16px;
  margin: 6% 0%;
  font-size: 15px;
  padding: 0px 10px 0px 36px;
  background-position: 10px;
  background-repeat: no-repeat;
}

.form-signin #inputUsername {
  background-image: url('./../../assets/icons/user.svg');
}

.form-signin #inputPassword {
  background-image: url('./../../assets/icons/password.svg');
}

.form-signin .form-control:focus {
  border-color: rgb(104, 145, 162);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
}

.form-signin {
  margin: 30% 0%;
}
