<div class="container">
  <div class="panel">
    <img id="logo-img" class="logo-class" src="./../../assets/images/logo.png" />
    <form class="form-signin">
      <div class="inputUser">
        <input type="username" id="inputUsername" class="form-control" placeholder="Kullanıcı Adı" required autofocus>
      </div>
      <div class="inputUser">
        <input type="password" id="inputPassword" class="form-control" placeholder="Şifre" autofocus>
      </div>
      <button class="btn btn-lg btn-primary btn-block " type="submit">Giriş</button>
    </form>
  </div>
</div>