<div class="menu">
    <ul class="list-group">
        <li class=" menu-item" *ngIf="role === 'admin'" [routerLink]="['/home', {outlets: { 'inside':'clients'}}]" [queryParams]="{title: 'Müşteriler'}">
            <div class="menu-router">
                <i class="fa fa-handshake-o menu-icon"></i>
                <span>Müşteriler</span>
            </div>
        </li>
        <li class=" menu-item" *ngIf="role==='admin'" [routerLink]="['/home', {outlets: { 'inside':'projects' }}]" [queryParams]="{title: 'Projeler'}">
            <div class="menu-router">
                <i class="fa fa-folder-open-o menu-icon"></i>
                <span>Projeler</span>
            </div>
        </li>
        <li class=" menu-item" *ngIf="role=== 'admin'" [routerLink]="['/home', {outlets: { 'inside':'users' }}]" [queryParams]="{title: 'Kullanıcılar'}">
            <div class="menu-router">
                <i class="fa fa-user-o menu-icon"></i>
                <span>Kullanıcılar</span>
            </div>
        </li>
        <li class=" menu-item" *ngIf="role=== 'admin'" [routerLink]="['/home', {outlets: { 'inside':'activities' }}]" [queryParams]="{title: 'Aktiviteler'}">
            <div class="menu-router">
                <i class="fa fa-plus-square-o menu-icon"></i>
                <span>Aktiviteler</span>
            </div>
        </li>
        <li class=" menu-item" *ngIf="role=== 'admin'" [routerLink]="['/home', {outlets: { 'inside':'expenses' }}]" [queryParams]="{title: 'Masraflar'}">
            <div class="menu-router">
                <i class="fa fa-money menu-icon"></i>
                <span>Masraflar</span>
            </div>
        </li>
        <li class=" menu-item" *ngIf="role=== 'admin'" [routerLink]="['/home', {outlets: { 'inside':'settings' }}]" [queryParams]="{title: 'Ayarlar', target: 'settings'}">
            <div class="menu-router">
                <i class="fa fa-sliders menu-icon"></i>
                <span>Ayarlar</span>
            </div>
        </li>
    </ul>
</div>