<div *ngIf="target === 'clients' " class="client">
    <div class="thumb_image pull-left">
        <img class="small img-circle" src="./../../assets/images/pic_null.png" />
    </div>
    <div class="item-media">
        <div class="info" style="padding: 0px 15px;">
            <div> <span id="name">{{ item.name }}</span> </div>
            <div> <span id="payer">{{ item.p_name }}</span> </div>
            <div> <span id="pmail">{{ item.p_mail }}</span> </div>
        </div>
    </div>
</div>
<div *ngIf="target === 'projects' " class="project">
    {{ item.tey }}
</div>