<div class="padding">
  <div *ngIf="path === 'clients' ">
    <div class="thumb_image pull-left">
      <img class="big img-circle" src="./../../assets/images/pic_null.png" />
    </div>
    <form #form="ngForm" (ngSubmit)="checkIfValuesExist(form.value)">
      <div class="row">
        <div class="col-12">
          <div class="input-group mb-3 mr-sm-2 mb-sm-0">
            <input class="form-control" type="text" [ngModel]="dummy.createdAt | date: 'dd/MM/yy' " id="date" readonly name="createdAt"
              #createdAt="ngModel">
              <div class="input-group-addon fa fa-calendar-check-o"></div>
          </div>
          <input class="top form-control" type="text" placeholder="Kısaltma" id="abbrv" [ngModel]='dummy.abbrv | uppercase' name="abbrv"
            #abbrv="ngModel" ngModel>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <input class="form-control" type="text" placeholder="Müşteri Adı" id="name" name="name" [(ngModel)]='dummy.name' #name="ngModel"
            ngModel>
            <textarea class="form-control" id="address" placeholder="Adres" rows="2" name="address" [(ngModel)]='dummy.address' #address="ngModel"
              ngModel></textarea>
              <input class="form-control" type="text" placeholder="Muhatap Ad/Soyad" id="payer" [(ngModel)]='dummy.p_name' name="pname"
                #pname="ngModel" ngModel>
                <input class="form-control" type="number" placeholder="Muhatap Tel" id="phone" [(ngModel)]='dummy.p_tel' name="pphone" #pphone="ngModel"
                  ngModel>
                  <input class="form-control" type="email" placeholder="Muhatap E-Mail" id="mail" [(ngModel)]='dummy.p_mail' name="pmail" #pmal="ngModel"
                    ngModel>
                    <button class="btn btn-primary form-control" type="submit" *ngIf="!$key">Kaydet</button>
                    <button class="btn btn-success form-control" *ngIf="$key" type="button" (click)="update(dummy.$key, form.value)">Güncelle</button>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="path === 'users' ">
    <form #formuser="ngForm" (ngSubmit)="checkIfValuesExist(formuser.value)">
      <div class="form-group row">
        <div class="col-12">
          <div class="input-group pull-left mb-3 group">
            <div class="input-group-addon fa fa-user-o"></div>
            <input type="text" class="form-control" id="username" placeholder="Kullanıcı Adı" #username="ngModel" ngModel name="username">
          </div>
          <div class="input-group mb-3 mr-sm-2 mb-sm-0 group">
            <div class="input-group-addon fa fa-address-card-o"></div>
            <input type="text" class="form-control" id="name" placeholder="İsim Soyisim" name="fullname" #fullname="ngModel" ngModel>
          </div>
          <div class="input-group mb-3 mr-sm-2 mb-sm-0 group">
            <div class="input-group-addon fa fa-envelope-o"></div>
            <input type="email" class="form-control" id="mail" placeholder="Mail" name="usermail" #usermail="ngModel" ngModel>
          </div>
          <div class="input-group mb-3 mr-sm-2 mb-sm-0 group">
            <div class="input-group-addon fa fa-phone"></div>
            <input type="tel" class="form-control" id="phone" placeholder="Telefon" name="userphone" #userphone="ngModel" ngModel>
          </div>
          <div class="input-group mb-3 mr-sm-2 mb-sm-0 pull-left group">
            <div class="input-group-addon fa fa-users"></div>
            <select class="custom-select group" id="team" (change)='onSelect($event.target.value)' #team="ngModel" ngModel name="team">
                <option value="null" selected>Ekip</option>
                <option value="BO">BO</option>
                <option value="BPC">BPC</option>
                <option value="BW">BW</option>
            </select>
          </div>
          <div class="input-group mb-3 mr-sm-2 mb-sm-0 pull-left group">
            <div class="input-group-addon fa fa-commenting-o"></div>
            <select class="custom-select group" id="manager" (change)='onSelect($event.target.value)' #manager="ngModel" ngModel name="manager">
                <option selected>Yönetici</option>
                <option value="Emre Aksoy">Emre Aksoy</option>
                <option value="Utku Sancaktar">Utku Sancaktar</option>
                <option value="Can Şengüler">Can Sengüler</option>
            </select>
          </div>
          <div class="mb-3 mr-sm-2 mb-sm-0">
            <button type="button" class="btn btn-secondary mb-3">Projeler</button>
            <button type="submit" class="btn btn-primary">Kaydet</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="path === 'projects' ">
    <form #formproject="ngForm" (ngSubmit)="checkIfValuesExist(formproject.value)">
      <div class="input-group pull-left mb-3 group">
        <div class="input-group-addon fa fa-handshake-o"></div>
        <div class="clientselector dropdown">
          <button class="btn btn-secondary dropdown-toggle text-left" type="button" id="clientSelector" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"> {{project.cSelected }} </button>
            <div class="dropdown-menu" aria-labelledby="clientSelector">
              <span id="cSelected" *ngFor="let client of project.clients | async" class="dropdown-item" (click)="onSelect($event.target)">
             {{ client.name }}
             </span>
            </div>
        </div>
      </div>
      <div class="input-group pull-left mb-3 group">
        <div class="input-group-addon fa fa-folder-o"></div>
        <input type="text" class="form-control" id="prjname" placeholder="Proje Adı" #prjname="ngModel" ngModel name="prjname">
      </div>
      <div class="input-group pull-left mb-3 group">
        <div class="input-group-addon fa fa-commenting-o"></div>
        <div class="managerselector dropdown">
          <button class="btn btn-secondary dropdown-toggle text-left" type="button" id="managerselector" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"> {{project.mSelected }} </button>
            <div class="dropdown-menu" aria-labelledby="managerselector">
              <span id="mSelected" *ngFor="let manager of project.managers | async" class="dropdown-item" (click)="onSelect($event.target)">
                {{ manager.name }}
              </span>
            </div>
        </div>
      </div>
    </form>
  </div>
</div>