.thumb-image {
  float: left;
}

.input-group,
.top {
  width: 110%;
}

#date {
  text-align: center;
}

.group {
  width: 100%;
}

.custom-select {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: .375rem 3.2rem .375rem .75rem;
}

.half {
  width: 50%;
}

.input-group-addon {
  width: 40px;
}

.btn {
  width: 100%;
  line-height: 1.6;
}

.dropdown-toggle::after {
  margin: 10px 0%;
  float: right;
}

.dropdown-toggle {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

div.dropdown {
  width: 87%;
}

.dropdown-menu {
  width: 100%;
}