/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.form-signin {
max-width: 330px;
padding: 50px;
margin: 0 auto;
}

.form-control{
    font-family: FontAwesome, "Open Sans" , sans-serif;
    line-height: 1.6px;
    margin-bottom: 15px;
}

.panel {

    display: inline-block;
    text-align: center;
/*padding: 0px 6%;  */
}

#logo {
  padding: 20% 20px;

  display: block;
  width: 100%;
  margin: 40px auto;
}


/*body{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.form-signin {
   max-width: 330px;
    padding: 15px;
margin: 0 auto;
}

.form-control{
    font-family: FontAwesome, "Open Sans" , sans-serif;
    line-height: 1.6px;
    margin-bottom: 15px;
}

.panel {

    display: inline-block;
    text-align: center;
/*padding: 0px 6%;  */
/*}


#logo {
  padding: 30% 30px;

  display: block;
  width: 95%;
  margin: 0 auto;
}*/