/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-control{
    font-family: FontAwesome, "Open Sans" , sans-serif;
    line-height: 1.6px;
    margin-bottom: 15px;
}